[Desktop Entry]
Name=Neovim
Type=Application
Comment=Run nvim in Konsole and Tmux with customize options
Keywords=Text;Editor;Plaintext;Write;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=konsole --profile nvim --hide-tabbar --hide-menubar --nofork -e "sh -c 'tmux attach -t workspace_nvim || tmux'"
Icon=neovim
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Neovim
